
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <title>Home</title>
 </head>
 <body>
     <!--  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> -->
       
        <h1 style="text-align: center;">MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>

    
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="assets\Child care-2.jpg" height="60" width="50"></a>
       <div class="div1">
           
        <a class="navbar-brand" routerLink = "/about-us" routerLinkActive="active">ABOUT US</a>
        <a class="navbar-brand" routerLink = "/legislations-policy" routerLinkActive="active">LEGISLATIONS & POLICY</a>
        <a class="navbar-brand" routerLink = "/login" routerLinkActive="active">STEP</a>
        <a class="navbar-brand" routerLink ="/ngo" routarLinkActive="active">NGOS</a>
        <a class="navbar-brand" href="#">ADMIN</a>
        <a class="navbar-brand" href="#">FAQ</a>
    </div>
      </nav>
      <div class="slider">
        <img src="assets\image1.jpg" alt="" />
        <img src="assets\images2.jpg" alt="" />
        <img src="assets\image3.jpg" alt=""/>
        <img src="assets\image4.jpg" alt=""/>
      </div> 
     
    <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link " href="#">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">LEGISLATIONS & POLICY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">STEP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">NGOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">ADMIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">FAQ</a>
            </li>
        </ul>
    </div>
     </nav>
     <div id="slides" class="carousel slider"></div> -->
    <!-- <div class="div1">
        <button style="color: white;background-color:brown ;"><a routerLink ="/home" routarLinkActive="active" >Home</a></button>
      </div> -->
      
    
<!-- 
    <div class="div2" >
        <img class="logo" src="assets\Child.jpg" alt="" width="100">
       <h1>MINISTRY OF WOMEN & CHILD DEVELOPMENT</h1>
       
       
    </div>

     <div class="div1">
 <ul>
     <li><a routerLink = "/about-us" routerLinkActive="active">ABOUT US</a></li>
     <li><a routerLink = "/legislations-policy" routerLinkActive="active">LEGISLATIONS & POLICY</a></li>
     <li><a routerLink = "/login" routerLinkActive="active">STEP</a></li>
     <li><a routerLink ="/ngo" routarLinkActive="active" >NGOS</a></li>
     <li>ADMIN</li>
     <li>FAQ</li>
 
 </ul>
</div>  -->



  <!-- <footer class="footer"> &copy;2020 MWCD, All rights reserved | Website designed by Team Alpha</footer> -->

 
 
  
    
    <div class="footer">
      <p>&copy;2020 MWCD, All rights reserved | Website designed by Team Alpha</p>
    </div>
     
 </body>
 </html>
 
 
 
 
    
 
